// Header styles
header{
    width: 100vw;
    min-height: 100vh;
    background-image: url(../../image/headerBG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}