.intro {
    padding: 100px 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 40%;
    align-items: flex-start;
    justify-content: space-between;
    &--title {
        font-family: "Livvic";
        margin: 0;
        font-weight: 700;
        font-size: 100px;
        line-height: 100px;
        color: #ffffff;
        & span {
            color: #f67e7e;
        }
    }
    &--text {
        font-family: "Livvic";
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #ffffff;
    }
    &--text::before {
        content: "";
        display: block;
        width: 50px;
        height: 4px;
        background-color: #79c8c7;
        margin-bottom: 75px;
    }
}
@media only screen and(max-width:992px) {
    .intro {
        &--title {
            font-size: 90px;
        }
    }
}
@media only screen and(max-width:768px) {
    .intro {
        padding: 50px 0px;
        text-align: center;
        gap: 30px;
        grid-template-columns: 80%;
        align-items: center;
        justify-content: center;
        &--title {
            font-size: 64px;
            line-height: 70px;
        }
        &--text::before {
            margin-bottom: 35px;
            margin-left: 50%;
            transform: translateX(-50%);
        }
    }
}
@media only screen and(max-width:576px) {
    .intro {
        padding: 30px 0px;
        text-align: center;
        gap: 20px;
        grid-template-columns: 80%;
        &--title {
            font-size: 64px;
            line-height: 60px;
        }
    }
}
